<!-- bm - navbar for inside reminders application -->

<nav class="navbar d-flex bg-white border-bottom border-dark d-inline align-items-start align-items-center" style="min-width: 375px">
    <div class="container-flex align-items-center justify-content-start p=1">
      <img src="/imgs/remindr-icon.png" width="50" height="50" class="d-inline" alt="">
      <a class="navbar-brand text-dark d-none d-md-inline">Remindr</a>
    </div>

    <div class="container-flex mr-auto table-row">
        <form action="/darkSky" method="post">
            <button class="btn navbar-brand text-dark table-row" type="submit">Weather Update</button>
        </form>

      <div id="navBarOptions" class="btn navbar-brand text-dark table-row">Options</div>
      <div id="navBarEdit" class="btn navbar-brand text-dark table-row">Edit</div>
      <div id="navBarCreate" class="btn navbar-brand text-dark table-row">Create</div>
    </div>
</nav>