<!-- bm - navbar for inside reminders application -->

<nav class="navbar d-flex bg-white border-bottom border-dark ">
  <img src="/imgs/remindr-icon.png" width="60" height="60" class="d-inline-block p-2" alt="">
  <a class="navbar-brand p-2 text-dark">Remindr</a>

  <div class="btn-group btn-group-toggle mr-auto col-10" data-toggle="buttons">
    <label class="btn navbar-brand text-dark col">
      <input type="radio" class="" name="options" id="option1" autocomplete="off"> Options
    </label>
    <label class="btn navbar-brand text-dark col">
      <input type="radio" class="" name="options" id="option2" autocomplete="off" onclick=""> Details
    </label>
    <label class="btn navbar-brand text-dark col">
      <input type="radio" class="" name="options" id="option3" autocomplete="off" onclick=""> Edit
    </label>
    <label class="btn navbar-brand text-dark col">
      <input type="radio" class="" name="options" id="option4" autocomplete="off" onclick=""> Create
    </label>
  </div>
</nav>