<!-- bm - listed version of all reminders -->
<div class="container">
  <h1 class="page-header">Reminders</h1>

<ul class="list-group col-3 float-left">
        <% reminders.forEach(function (reminderItem) { %>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><strong>Title:<%= reminderItem.title %>: </strong></h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Description<%= reminderItem.description %></p>
                    <% if (reminderItem.completed == true) { %>
                        <span class="label label-success">True</span>
                    <% } else if (reminderItem.completed == false) { %>
                        <span class="label label-danger">False</span>
                    <% } %>
                    <a href="#" class="card-link">Card link</a>
                    <a class="pull-right" href=<%= "/reminder/" + reminderItem.id %>>View</a>
                </div>
            </div>
        <% }) %>
    </ul>

</div>
