<!-- bm - landing page-->


<!--    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">-->
<!--        <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">-->
<!--    </video>-->
<link rel="text/css" href="./css/style_landing.css">
<link rel="text/css" href="./css/login_modal.css">
<script rel="text/javascript" src="../../js/landing_ejs.js"></script>

<!-- bm - including the landing navbar-->
<% include ../partials/landing_navbar.ejs %>

<header>
    <div class="container col">
        <h1 class="display-1">Remindr</h1>
        <h3 class="display-4">To make sure you're prepared for a night out...</h3>
    </div>
</header>

<!-- bm - mock ups generated from https://magicmockups.com/-->
<div class="container">
    <div id="carousel-example-generic" class="carousel slide">
    <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        </ol>
  
      <!-- Wrapper for slides -->
          <div class="carousel-inner">
              <!-- Slide 1-->
              <div class="item active">
                  <img src="/imgs/laptop-mockup1.jpg" alt="Slide 1" />
                  <div class="carousel-caption">
                  <!-- caption here if you want-->
                  </div>
              </div>
  
              <!-- Slide 2-->
                <div class="item">
                    <img src="/imgs/laptop-mockup2.jpg" alt="Slide 2" />
                    <div class="carousel-caption">
                        <!-- caption here if you want-->
                    </div>
                </div>
  
            <!-- Slide 3-->
              <div class="item">
                  <img src="/imgs/phone-mockup1.jpg" alt="Slide 3" />
                  <div class="carousel-caption">
                      <!-- caption here if you want-->
                  </div>
              </div>

              <!-- Slide 4-->
              <div class="item">
                  <img src="/imgs/phone-mockup2.jpg" alt="Slide 4" />
                  <div class="carousel-caption">
                      <!-- caption here if you want-->
                  </div>
              </div>
            </div>


    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
      <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
      <span class="icon-next"></span>
    </a>
  </div>
</div>