


<!--    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">-->
<!--        <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">-->
<!--    </video>-->
<div class="container">

    <div class="jumbotron">
        <h1 class="display-3">Hello, world!</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
      </div>
    
    <div id="carousel-example-generic" class="carousel slide">
    <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>
  
      <!-- Wrapper for slides -->
          <div class="carousel-inner">
              <!-- Slide 1-->
              <div class="item active">
                  <img src="http://placehold.it/1200x480" alt="Slide 1" />
                  <div class="carousel-caption">
                      <h1>Slide 1</h1>
                      <p>Slide 1 Description</p>
                  </div>
              </div>
  
              <!-- Slide 2-->
                <div class="item">
                    <img src="http://placehold.it/1200x480" alt="Slide 2" />
                    <div class="carousel-caption">
                        <h1>Slide 2</h1>
                        <p>Slide 2 Description</p>
                    </div>
                </div>
  
            <!-- Slide 3-->
              <div class="item">
                  <img src="http://placehold.it/1200x480" alt="Slide 3" />
                  <div class="carousel-caption">
                      <h1>Slide 3</h1>
                      <p>Slide 3 Description</p>
                  </div>
              </div>
            </div>
    
    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
      <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
      <span class="icon-next"></span>
    </a>
  </div>
</div>

    <!--<video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="imgs/rain.mp4" type="video/mp4">
    </video> -->

    <div class="container h-100">
        <div class="d-flex h-100 text-center align-items-center">
            <div class="w-100 text-white">
                <h1 class="display-3">Video Header</h1>
                <p class="lead mb-0">With HTML5 Video and Bootstrap 4</p>
            </div>
        </div>
    </div>


<section class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <p>The HTML5 video element uses an mp4 video as a source. Change the source video to add in your own background! The header text is vertically centered using flex utilities that are build into Bootstrap 4.</p>
                <p>The overlay color can be changed by changing the <code>background-color</code> of the <code>.overlay</code> class in the CSS.</p>
                <p>Set the mobile fallback image in the CSS by changing the background image of the header element within the media query at the bottom of the CSS snippet.</p>
                <p class="mb-0">
                    Created by <a href="https://startbootstrap.com">Start Bootstrap</a>
                </p>
            </div>
        </div>
    </div>
</section>
</div>
// carousel
// link