<!-- bm - large view of a single reminder full details, this will be app landing page, of most recent reminder-->
<script rel="app/js" src="/js/single_reminder_ejs.js"></script>

<div class="container">
  <h1 class="page-header">Reminders</h1>


</div>
